<div class='container'>
<h1><%- client.firstname %> <%- client.lastname %></h1>

  <ul>
    <li>First Name: <%- client.firstname %></li>
    <li>Last Name: <%- client.lastname %></li>
    <li>Gender: <%- client.gender %></li>
<form action="/client/<%- client.id %>?_method=put" method="post">
  <li>Email:<input name='email' value='<%- client.email %>'></input></li>
<button type="submit" name="button">Update Email</button>
</form>
  </ul>

<div class='centered col-md-12'>
  <table class="table table-bordered ">
    <thead>
  <tr>
    <th>Policy Type</th>
    <th>Policy No.</th>
    <th>Policy Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Premium</th>
    <th>Delete Policy</th>
  </tr>
</thead>
<tbody>
  <% allPolicy.forEach(function (policy) { %>
    <tr>

      <td><%- policy.policytype %></td>
      <td><%- policy.policynumber %></td>
      <td><%- policy.policyname %></td>
      <td><%- policy.policystartdate %></td>
      <td><%- policy.policyenddate %></td>
      <td><%- policy.premium %></td>
      <form action="/policy/deletepolicy/<%- policy.id %>?_method=delete" method="post" >
      <td><input type="submit" value="Delete Policy" class="btn btn-primary btn-sm active" role="button"></input>
      </td>
      </form>
    <%})%>
</tbody>
  </table>
</div>
  <div class='col-md-12 text-center'>
    <a href="/profile" class="btn btn-primary btn-lg col-md-5 text-center">Dashboard</a>
</div>
</div>
