<h2>Hello, <%- agent.name %></h2>


<a href="/">Home</a>
<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
<a href="/client/createclient">Create Client</a>
<a href="/policy/createpolicy">Create Policy</a>

<!-- create view for all clients -->

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Edit</th>
  </tr>
<% allClient.forEach(function (client) { %>
  <tr>
    <td><%- client.firstname %></td>
    <td><%- client.lastname %></td>
    <td><%- client.gender %></td>
    <td><%- client.email %></td>
    <td><a href="/client/<%- client.id %>">View Client</a> | <a href="/policy/createpolicy/<%- client.id %>">Create Policy</a></td>
  </tr>
  <%})%>
</table>
