<h2>Hello, <%- agent.name %></h2>


<a href="/">Home</a>
<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
<a href="/client/createclient">Create Client</a>


<!-- create view for all clients -->

<table class="table table-bordered">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Edit</th>
  </tr>
<% allClient.forEach(function (client) { %>
  <tr>
    <td><%- client.firstname %></td>
    <td><%- client.lastname %></td>
    <td><%- client.gender %></td>
    <td><%- client.email %></td>
    <td>
    <a href="/client/<%- client.id %>" class="btn btn-primary btn-sm active" role="button">View Client</a>
    <a href="/policy/createpolicy/<%- client.id %>" class="btn btn-primary btn-sm active" role="button">Create Policy</a>
    <a href="/client/deleteclient/<%- client.id %>" class="btn btn-primary btn-sm active" role="button">Delete Client</a>

    </td>

  </tr>
  <%})%>
</table>
